---
layout: default
title: #խառըմտքեր բլոգ
---
<div class="span-23 title">
  <div class="span-20"><span class="title">#խառըմտքեր</span></div>
</div>
<div class="subtitle">Բլոգ</div>

<div class="span-23">
{% for post in site.posts limit:0 %}
<div class="post">
<div class="posttitle"><a href="/blog{{ post.url }}">{{ post.title }}</a></div>
<div class="date">{{ post.date | date: "%A, %B %d, %Y" }}</div>
{{ post.content }}
</div>
{% endfor %}

{% for post in site.posts offset:0 %}
<span class="date">{{ post.date | date: "%A, %B %d, %Y"  }}</span>
<div class="blurb"><a href="/blog{{ post.url }}">{{ post.title }}</a></div>
{% endfor %}
</div>
